* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("allfourseasons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

header {
    background-color: rgb(175, 224, 152);
    padding: 30px;
    text-align: center;
    opacity: 0.6;
    font-size: 35px;
    color: white;
  }
  .jumbotron {
    float: right;
    padding: 40px;
    width: 70%;
    background-color: rgb(209, 209, 16);
    opacity: 0.6;
    height: 240px; 
  }
  
.MainContainer{
  display: flex;
  justify-content: space-around;
}

  .historyContainer li{
    background-color: rgb(43, 46, 226);
    padding: 12px;
    border: 1px solid black;
    border-radius: 24px;
    margin-left: 12px;
    margin-top: 8px;
    color: white;
    width: 200px;
    text-align: center;
    opacity: 0.8;
  }
