* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    background-color: rgb(175, 224, 152);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  